numpy
pandas
scikit-learn
matplotlib
seaborn
babyplots
xgboost
catboost
tensorflow
keras
torch
scipy
umap-learn
tsfresh
yellowbrick
pingouin
statsmodels
pyarrow
fastparquet
scikit-learn-extra
imbalanced-learn
fuzzy-c-means